<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Forecast</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/icons.css">
	<link rel="stylesheet" type="text/css" href="css/helper.css">
</head>
<body>
	<div class="header">
		<a href="/"><h3>Forecast</h3></a>
	</div>
	<div class="content">
		{{{body}}}
	</div>
</body>
</html>